.place {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    row-gap: 48px;
    column-gap: 40px;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .place {
    column-gap: 28px;
    padding-bottom: 73px;
 
}
}

@media screen and (max-width: 767px) {
    .place {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    row-gap: 32px;
    padding-bottom: 50px;
}
}

