.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.5%;
    padding-bottom: 24px;
}

@media screen and  (max-width: 767px){
    .footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 310px;
        max-width: 100%;
        padding-left: 16px;
    }
}